body {
    padding: 10px;
    background-color: palevioletred;
    font-family: Cambria, Georgia, Times, 'Times New Roman';
}

h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 35px;
    text-align: center;
}

h2 {
    color: white;
    margin-bottom: 35px;
    text-align: center;
}
 

a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    border: 2px solid black;
    padding: 5px;
    background-image: linear-gradient(gray, white);
}
 
p {
    font-size: 1.25em;
    margin-top: 35px;
    line-height: 1.5em;
    width: 100%;
}

.first-para {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    color: white;
    width: 100%;
}

.second-para {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    padding: 10px;
    color: white;
}


.conteiner ol li {
    display: block;
    text-align: center;
    margin: auto;

}

.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}

img {
    display: block;
    margin: 0 auto;
    width: 20%;
}

footer p {
    text-align: center;
}

h1:hover {
    background-color: palevioletred;
    color: black;
}
